@tailwind base;
@tailwind components;
@tailwind utilities;

/* Logo Popup Animation */
.logo-popup {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeOut 2.5s ease forwards 1.5s;
}

.logo-popup img {
    width: 180px;
    animation: popIn 1.2s ease;
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    60% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}